h2 {
    color: green;
    font-size: 36px;
}
h1 {
    color: white;
    text-align: center;
    font-size: 48px;
}
h3 {
    color: white;
    font-size: 24px;
}
p {
    color: white;
    font-size: 20px;
}
address {
    color: white;
    text-align: center;
    font-size: 20px;
}
nav {
    color: red;
    font-size: 22px;
    padding: 20px;
}
div {
    background-color: darkblue;
    text-align: center;
}
body {
    background-color: blue;
    padding: 30px;
}
img {
    align-self: center;
    margin-left: 730px;
}
a {
    margin-left: 40px;
    color: red;
    text-decoration: none;
}